<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Super Admin</title>
    <link rel="stylesheet" type="text/css" href="3.3.6-css-bootstrap.min.css" />
    <link rel="stylesheet" href="lib/1.11.4-themes-smoothness-jquery-ui.css" />
    <script src="lib/2.1.1-jquery.min.js"></script>
    <script src="lib/3.3.6-bootstrap.min.js"></script>
    <script src="lib/1.11.4-jquery-ui.js"></script>  
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

    <div id="content" ></div>

    <script src="lib/4.5.6-standard-ckeditor.js"></script>
    <script src="lib/3.0.6-rsvp.js"></script>
    <script src="lib/0.13.3-react.js"></script>
    <script src="lib/0.13.3-JSXTransformer.js"></script>
    <script src="lib/1.0.3-ReactRouter.js"></script>
    <script src="lib/0.14.7-react-dom.js"></script>
    <script src="lib/1.12.5-History.min.js"></script>
    <script src="config/development.js"></script>
    <script src="globalFunctions/services.js"></script>
    <script type="text/jsx" src="components/App.jsx"></script>
    <script type="text/jsx" src="components/PasswordSetting.jsx"></script>
    <script type="text/jsx" src="components/PersonalSetting.jsx"></script>
    <script type="text/jsx" src="components/ClubRidesList.jsx"></script>
    <script type="text/jsx" src="components/ClubMembers.jsx"></script>
    <script type="text/jsx" src="components/ClubList.jsx"></script>
    <script type="text/jsx" src="components/AboutUs.jsx"></script>
    <script type="text/jsx" src="components/TermAndConditions.jsx"></script>
    <script type="text/jsx" src="components/MessagesFromGroupAdmin.jsx"></script>
    <script type="text/jsx" src="components/ClubManagement.jsx"></script>
    <script type="text/jsx" src="components/SelectOption.jsx"></script>
    <script type="text/jsx" src="components/UserList.jsx"></script>
    <script type="text/jsx" src="components/UserManagement.jsx"></script>
    <script type="text/jsx" src="components/MemberDetailModal.jsx"></script>
    <script type="text/jsx" src="components/SettingComponent.jsx"></script>
    <script type="text/jsx" src="components/AllClubsInfo.jsx"></script>
    <script type="text/jsx" src="components/Layout.jsx"></script>
    <script type="text/jsx" src="components/MembersListing.jsx"></script>
    <script type="text/jsx" src="components/Member.jsx"></script>
    <script type="text/jsx" src="components/MembersListingModal.jsx"></script>
    <script type="text/jsx" src="components/RidesListing.jsx"></script>
    <script type="text/jsx" src="components/Ride.jsx"></script>
    <script type="text/jsx" src="components/RideMembersModal.jsx"></script>
    <script type="text/jsx" src="components/RideDescriptionModal.jsx"></script>
    <script type="text/jsx" src="components/Notification.jsx"></script>
    <script type="text/jsx" src="components/Notify.jsx"></script>
    <script type="text/jsx" src="components/LiMembers.jsx"></script>
    <script type="text/jsx" src="components/AlertModal.jsx"></script>
    
    <script type="text/jsx">
        var Router = window.ReactRouter.Router;
        var Route = window.ReactRouter.Route;
        var Redirect = window.ReactRouter.Redirect;
        var Window = window;
        var History = new window.History.createHistory();
        React.render((
            <Router history={History}>
                <Route path="/home" component={Layout} >
                    <Route path="/home/notification" component={Notification} value="1"/>
                    <Route path="/home/clubs" component={ClubManagement}  value="2"/>
                    <Route path="/home/users" component={UserManagement}  value="3"/>
                    <Route path="/home/setting" component={SettingComponent}  value="4"/>
                    <Route path="/home/aboutus" component={AboutUs}  value="1"/>
                    <Route path="/home/termAndConditions" component={TermAndConditions}  value="5"/>
                </Route>
                <Redirect from="*" to="/home" />
            </Router>
        ), document.getElementById('content'));
    </script>
</body>
</html>