<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Super Admin</title>
    <!-- html -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="lib/2.1.1-jquery.min.js"></script>
    <!-- html -->
</head>
<body>

    <div id="content"></div>
    <script src="lib/4.5.6-standard-ckeditor.js"></script>
    <link rel="stylesheet" href="lib/3.3.5-bootstrap.min.css"/>
    <script src="lib/1.11.3-jquery.min.js"></script>
    <script src="lib/3.3.6-bootstrap.min.js"></script>
    <script src="lib/3.0.6-rsvp.js"></script>
    <script src="lib/0.13.3-react.js"></script>
    <script src="lib/0.13.3-JSXTransformer.js"></script>
    <script src="lib/1.0.3-ReactRouter.js"></script>
    <script src="lib/1.12.5-History.min.js"></script>
    <script src="config/development.js"></script>
    <script src="globalFunctions/services.js"></script>
    <script type="text/jsx" src="components/App.jsx"></script>
     <script type="text/jsx">
        React.render(<App />, document.getElementById('content'));
    </script>
</body>
</html>