@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
*{ 
	box-sizing: border-box; 
	margin: 0; 
	padding: 0;
	outline: none;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../lib/ionic/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'robotoregular';
    }
ul{
	list-style: none;
}
img{max-width: 100%}
.clearfix{
	display: table; 
	float: none; 
	clear: both;
}
a, a:visited, a:active{
	text-decoration: none;
	color: #4e5050;
}
h1, h2, h3, h4, h5, h6{font-weight: 400;}
html, body{
	height: 100%;
}
.wrapper{
	height: 90%; /* fallback if needed */
  	height: calc(100% - 68px);
}

body{
	min-width: 1024px;
    font-family: 'robotoregular';
}
body, button{
	font-size: 15px; 
	font-weight: 400;
	color: #4e5050;
}
header{
	background: linear-gradient(0deg,#e1e1e1, #fff);
	-webkit-background: linear-gradient(0deg,#e1e1e1, #fff);
	-moz-background: linear-gradient(0deg,#e1e1e1, #fff);
	-o-background: linear-gradient(0deg,#e1e1e1, #fff);
	-ms-background: linear-gradient(0deg,#e1e1e1, #fff);
	min-height: 65px;
	border-bottom: 6px solid #3abcb2;
}
header, .wrapper{
	display: table; 
	width: 100%;
}
.main{
	background-color: #eeeeee;
	vertical-align: top;
	padding: 22px;
}
aside{
	background-color: #f6f6f6; 
	width: 275px;
	max-width: 275px;
}
table{
	width: 100%;
	cellpadding:0;
	cellspacing:0;
}
th{
	background-color: #edf7f9
}
td, th{
	padding: 5px;
	border:1px solid #e7e7e7;
}
.log-out, .navigation li a:before, ul.notifications-details li:before, .page-title h1:before, .filter-block a:after, 
.user-mgt-page td .ride, .user-mgt-page td a{background-image: url('../images/bg_imgs/icons-sprite.png');}
.logo-wrapper{
	width: 275px; 
	text-align: center;
}
.logo-wrapper img{
	max-height: 57px; 
	width: auto;
}
.admin-details, .logo-wrapper, aside, .main {
    display: table-cell;
    height: 100%;
}
.admin-details, .logo-wrapper{
    vertical-align: middle;
}
.admin-details{
	font-size: 17px; 
	line-height: 48px; 
	color: #757777
}
.admin-details span{
	color: #4e5050; 
	font-weight: 700;
}
.admin-details > * {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
p.account-img {
    height: 47px;
    width: 85px;
    text-align: center;
}
p.account-img img, .user-pic img{
	vertical-align: middle;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
a.log-out {
    width: 18px;
    height: 17px;
    background-position: -192px -2px;
}
/*************** header css ends ***********/
/*************** menu css starts ***********/
.navigation{
	display: block;
}
.navigation li{
	border-bottom: 1px solid #d9d9d9;
}
.navigation li a{
	color: #898c92; 
	display: block; 
	padding: 22px; 
	font-size: 16px;
	padding-left: 67px;
	position: relative;
}
.navigation li a:hover, .navigation li.active a {
	color: #3abcb2;
}
/*.navigation li:hover, .navigation li.active{
	background-image: url("../images/bg_imgs/list-items.jpg");
}*/
.navigation li a:before{
	content: "";
	width: 28px;
    height: 28px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -14px;
}
.navigation li:nth-child(1) a:before{
	background-position: 3px 2px;
}
.navigation li.active:nth-child(1) a:before, 
.navigation li:nth-child(1):hover a:before{
	background-position: 3px -29px;
}
.navigation li:nth-child(2) a:before{
	background-position: -31px 2px;
}
.navigation li.active:nth-child(2) a:before, 
.navigation li:nth-child(2):hover a:before{
	background-position: -31px -29px;
}
.navigation li:nth-child(3) a:before{
	background-position: -64px 2px;
}
.navigation li.active:nth-child(3) a:before, 
.navigation li:nth-child(3):hover a:before{
	background-position: -64px -29px;
}
.navigation li:nth-child(4) a:before{
	background-position: -127px 1px;
}
.navigation li.active:nth-child(4) a:before, 
.navigation li:nth-child(4):hover a:before{
	background-position: -127px -28px;
}
.navigation li:nth-child(5) a:before{
	background-position: -158px 0px;
}
.navigation li.active:nth-child(5) a:before, 
.navigation li:nth-child(5):hover a:before{
	background-position: -158px -29px;
}
.navigation li:nth-child(6) a:before{
	background-position: -96px 2px;
}
.navigation li.active:nth-child(6) a:before, 
.navigation li:nth-child(6):hover a:before{
	background-position: -96px -29px;
}
/*************** menu css ends ***********/
.main-content{
	background-color: #fff;
	height: 100%;
}
.page-title, .messages-block{
	display: table;
	width: 100%;
}
.page-title{
	border-bottom: 4px solid #cfcfcf;
}
.messages{
/*	border-bottom: 2px solid #cfcfcf;*/
	color: #757777;
	width: 92%;
    float: left;
    padding: 0;
}
.messages-block{
	border-bottom: 2px solid #cfcfcf;
}
.page-title > *, .messages-block > * {
	display: table-cell;
	vertical-align: middle;
}
.page-title h1 {
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
	padding: 6px 15px 5px 52px;
	position: relative;
}
/*.page-title h1:before{
	content: "";
	width: 27px;
	height: 20px;
	background-position: -190px -32px;
	position: absolute;
	left: 17px;
	top: 50%;
	margin-top: -10px;
}*/
.filter-block a:after{
    content: "";
    width: 27px;
    height: 20px;
    background-position: -190px -32px;
    position: absolute;
    right: 17px;
    top: 50%;
    margin-top: -10px;
}
.filter-block{
	width: 80px;
	font-size: 16px;
	line-height: 27px;
	color: #4e5050;
	position: relative;
}
.messages-block{
	position: relative;
	height: 126px;
}
.messages-block:hover {
}
.content {
    padding-bottom: 30px;
}
.user-pic{
	width: 105px; 
	text-align: center;
	margin-left: 30px;
}
ul.notifications-details {
    width: 100%;
    margin-top: 10px;
}
ul.notifications-details li{
	float: left;
	margin-right: 50px;
	padding-left: 30px;
	font-size: 14px;
	position: relative;
}
ul.notifications-details li:before{
	content: "";
	width: 20px; 
	height: 20px;
	position: absolute;
	left: 0;
}
ul.notifications-details li:nth-child(1):before{
	background-position: -247px -2px;
}
ul.notifications-details li:nth-child(2):before{
	background-position: -221px -32px;
}
/*ul.notifications-details li:last-child {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 16px;
    top: 18px;
}*/
ul.notifications-details li:nth-child(3):before{
	/*background-position: -221px -3px;*/
	content: none;
}
.messages h4 span{
	font-weight: 600;
}

button {
    padding: 4px 7px;
    color: #fff;
    background: #3ABCB2;
    border: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    display: block;
    min-width: 66px;
    text-transform: uppercase;
    font-weight: 500;
}
.button-block button:nth-child(2){
	margin: 6px 0;
}
.home-page .button-block button:hover{
	background: #2D2D2D;
}
.abt-text{
	padding: 0 20px;
	margin: 20px 0;
	color: #757777;
	line-height: 24px;
}
.about-us-page .page-title h1:before{
	background-position: -127px 1px;
	height: 28px;
	margin-top: -14px;
}
.tc-page .page-title h1::before {
    background-position: -159px 0;
    height: 26px;
    margin-top: -13px;
}
.edit.filter-block a:after{
}
ol{
	padding: 8px 40px;
	line-height: 30px;
	font-weight: 600;
}
ol p {
    padding-left: 15px;
    color: #757777;
    font-weight: 400;
}
.settings-page .page-title h1::before {
    background-position: -97px 1px;
    height: 28px;
    margin-top: -14px;
}
.setting-content .page-title{
	border: none;
}
.setting-content .page-title h1::before{
	content: none;
}
.setting-content .page-title h1{
	padding-left: 20px;
}
.setting-content form{
	padding: 0 20px;
}
.setting-content label{
	font-size: 15px;
	font-weight: 500;
	line-height: 27px;
	color: #757777;
	min-width: 320px;
	display: inline-block;
}
.setting-content input{
	width: 332px;
	height: 40px;
	border: 1px solid #dadbdd;
	padding: 0 15px;
	margin: 18px 0 0;
	color: #aeafaf;
}
.setting-content button {
    font-size: 15px;
    font-weight: 600;
    line-height: 27px;
    margin: 25px 0 25px 320px;
    padding: 5px 18px;
}
.PI-block p{
}
.user-mgt-page .page-title h1::before {
    background-position: -30px 1px;
    height:24px;
    margin-top:-12px;
}
.user-mgt-page .filter-block {
	border-left: 1px solid #979898;
	width: 65px;
}
.user-mgt-page .filter-block a::after {
    background-position: -270px -3px;
    content: "";
}

.user-mgt-page .filter-block.active a::after {
    background-position: -270px -27px;
}
.user-mgt-page th{
	border: none;
	text-align: left;
	font-size: 16px;
	color: #757a7a;
	padding: 15px 20px;
}
.user-mgt-page td{
	padding: 20px;
	color: #979898;
}
.user-mgt-page td a{
	display:block;
	width: 23px;
	height: 23px;
	float: left;
}
.user-mgt-page td .remove {
    background-position: -297px 0;
    margin: 0 10px;
}
.user-mgt-page td .trophies {
    background-position: -298px -26px;
    margin-left: 10px;
}
.user-mgt-page td p {
    float: left;
}
.user-mgt-page td .ride{
	background-position: -63px 1px;
	width: 30px;
	height: 30px;
	display: inline-block;
	padding: 0
}
.filter-form td, .filter-form tr{
	border: none;
}

.filter-form select, .filter-form input{
	 border: 1px solid #b2b2b2;
    color: #b2b2b2;
    height: 40px;
    padding: 0 15px;
    width: 100%;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
}
.select-parent{
	position: relative;
}
.select-parent:after{
	content: "";
	margin-top: -2px;
    position: absolute;
    right: 35px;
    top: 50%;
	border: 5px solid #fff;
	border-top-color: #b2b2b2;
}
.filter-form td{
	padding: 10px 20px;
}
.wrapper.login-page {
    display: block;
    height: 100%;
    background: url("../images/admin-bg.jpg") no-repeat center 124px;
    background-size: cover;
    position: relative;
}
.login-form {
   width: 420px;
   background: #fff;
   padding: 20px;
   margin: 0 auto;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
    border-radius: 4px; 
    -webkit-box-shadow: 0px 1px 3px 0px #ddd;
	-moz-box-shadow: 0px 1px 3px 0px #ddd;
	box-shadow: 0px 1px 3px 0px #ddd;
}

.errorMess{
	padding: 5px 0 0;
	color: red;
}


.logoOuter{
	padding: 40px 0;
	text-align: center;
}

.siteButton{
	background: #ec952e;
	display: inline-block;
	min-width: 100px;
	padding: 5px 10px;
	color: #fff;
	font-size: 14px;
    font-family: 'robotomedium';
    height: 40px;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
    border-radius: 4px; 
}

a.forgot-pwd, a.change-pwd {
    color: #3ABCB2;
    font-size: 12px;
}
.login-form .filter-form label {
    min-width: 0;
}
/*new css*/
.text-left{
	text-align: left;
}
.text-right{
	text-align: right !important;
    padding: 20px;
}
.text-center{
	text-align: center !important;
}
.pd-left-25{
	padding-left: 25px;
}
ul{
	list-style: none;
}
img{max-width: 100%}
.clearfix{
	display: table; 
	float: none; 
	clear: both;
}
.noData{
	padding: 20px 20px 0;
	color: #eb952e;
}
a, a:visited, a:active{
	text-decoration: none;
	color: #4e5050;
}
h1, h2, h3, h4, h5, h6{font-weight: 400;}
html, body{
	height: 100%;
}
.wrapper{
	height: 90%; /* fallback if needed */
  	height: calc(100% - 68px);
}
body{
	min-width: 1024px;
	position: relative;
}
body, button{
	font-family: 'Roboto', sans-serif !important; 
	font-size: 15px; 
	font-weight: 400;
	color: #4e5050;
}
header{
	background: #fff;
	min-height: 0;
	padding: 2px 0;
	position: relative;
	border: none;
}
header, .wrapper{
	display: table; 
	width: 100%;
}
.main{
	background-color: #f5f5f5;
	vertical-align: top;
	padding: 22px;
}
table{
	width: 100%;
}
th{
	background-color: #d8d8d8;
	font-weight: 400;
}
td, th{
	padding: 5px;
	border:1px solid #e7e7e7;
}
.log-out, .navigation li a:before, ul.notifications-details li:before, .page-title h1:before, .filter-block a:after, 
.common-table td .ride, .common-table td a, .club-details td a, .ride-name th p span
{background-image: url('../images/bg_imgs/icons-sprite.png');}
.logo-wrapper{
	width: 275px; 
	text-align: center;
	float: left;
}
.logo-wrapper img{
	max-height: 100px; 
	width: auto;
}
.admin-details, .logo-wrapper, aside, .main {
    display: table-cell;
    height: 100%;
}
.wrapper aside.sidebar{display: table-cell; background: #3b362f;}
.admin-details, .logo-wrapper{
    vertical-align: middle;
}

.logo-wrapper{
	position: absolute;
    text-align: right;
        top: 0px;
    left: 52px;
}

.admin-details{
	font-size: 14px; 
	line-height: 20px; 
	color: #575757;
	float: right;
	margin-right: 25px;
}
.admin-details span{
	color: #4e5050; 
	font-weight: 400;
}
.admin-details > * {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
}
p.account-img {
    height: 47px;
    width: 85px;
    text-align: center;
        margin: 0;

}
p.account-img img{
	vertical-align: middle;
	border-radius: 50%;
    max-width: 40px;
    height: auto;
    position: relative;
    top: 3px;
}

.user-pic img{
	vertical-align: middle;
	border-radius: 50%;
}
a.log-out {
    width: 18px;
    height: 17px;
    background-position: -192px -2px;
}
/*************** header css ends ***********/
/*************** menu css starts ***********/
.navigation{
	display: block;
	background: transparent;
}
.navigation li{
	border-bottom: 1px solid #221c13;
}
.navigation li a{
	color: #d9d9d9; 
	display: block; 
	padding: 22px; 
	font-size: 16px;
	padding-left: 67px;
	position: relative;
	text-decoration: none;
}
.navigation li a:hover, .navigation li.active a {
	color: #eb952e;
}
/*.navigation li:hover, .navigation li.active{
	background-image: url("../images/bg_imgs/list-items.jpg");
}*/
.navigation li a:before{
	content: "";
	width: 28px;
    height: 28px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -14px;
}
.navigation li:nth-child(1) a:before{
	background-position: 3px 2px;
}
.navigation li.active:nth-child(1) a:before, 
.navigation li:nth-child(1):hover a:before{
	background-position: 3px -29px;
}
.navigation li:nth-child(2) a:before{
	background-position: -504px 2px;
}
.navigation li.active:nth-child(2) a:before, 
.navigation li:nth-child(2):hover a:before{
	background-position: -504px -29px;
}
.navigation li:nth-child(3) a:before{
	background-position: -31px 2px;
}
.navigation li.active:nth-child(3) a:before, 
.navigation li:nth-child(3):hover a:before{
	background-position: -31px -29px;
}
.navigation li:nth-child(4) a:before{
	background-position: -127px 1px;
}
.navigation li.active:nth-child(4) a:before, 
.navigation li:nth-child(4):hover a:before{
	background-position: -127px -28px;
}
.navigation li:nth-child(5) a:before{
	background-position: -158px 0px;
}
.navigation li.active:nth-child(5) a:before, 
.navigation li:nth-child(5):hover a:before{
	background-position: -158px -29px;
}
.navigation li:nth-child(6) a:before{
	background-position: -96px 2px;
}
.navigation li.active:nth-child(6) a:before, 
.navigation li:nth-child(6):hover a:before{
	background-position: -96px -29px;
}
/*************** menu css ends ***********/
.main-content{
	background-color: transparent;
	height: 100%;
	padding: 15px 0 0;
}
.page-title, .messages-block{
	display: table;
	width: 100%;
}
.page-title{
	border-bottom: none;
}
/*.messages{
	border-bottom: 2px solid #cfcfcf;
	padding: 28px 0 27px;
	color: #757777;
}*/
.page-title > *, .messages-block > * {
	display: table-cell;
	vertical-align: middle;
}

.modal-header .page-title h1 { line-height: 1; padding: 0; font-size: 20px;}

.modal-header .page-title h1.withIcon{
	padding: 0 35px;
}

.page-title h1 {
	font-size: 22px;
	line-height: 32px;
	font-weight: normal;
	padding: 0;
	position: relative;
	color: #6d6d6d;
}
/*.page-title h1:before{
	content: "";
	width: 27px;
	height: 20px;
	background-position: -190px -32px;
	position: absolute;
	left: 17px;
	top: 50%;
	margin-top: -10px;
}*/
.filter-block a:after{
}
.filter-block{
	width: 80px;
	font-size: 16px;
	line-height: 27px;
	color: #4e5050;
	position: relative;
}
.filter-block.edit{
    padding-left: 10px;
    width: 90px;
    border: none;
    position: absolute;
    right: 20px;
}
.messages-block{
	position: relative;
	height: auto;
	border: none;
	padding: 20px 0px 0 20px;
}
.messages-block:hover {
}
.content {
    padding-bottom: 30px;
    background: #fff;
    margin-top: 10px;
}
.user-pic{
	width: 60px; 
	text-align: left;
	margin-left: 0px;
    float: left;
    margin-right: 0px;
    padding-top: 0px;
}

.messages-block .messages{
	border-bottom: 1px solid #e5e5e5;
}

.messages-block .messages.messSection{
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
	display: block;
}

ul.notifications-details {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
}
ul.notifications-details li{
	float: left;
	margin-right: 50px;
	padding-left: 30px;
	font-size: 14px;
	position: relative;
}
ul.notifications-details li:before{
	content: "";
	width: 20px; 
	height: 20px;
	position: absolute;
	left: 0;
}
ul.notifications-details li:nth-child(1):before{
	/*background-position: -247px -2px;*/
}
ul.notifications-details li:nth-child(2):before{
	/*background-position: -221px -32px;*/
}
ul.notifications-details > li:last-child {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 32px;
    float:right;
}

ul.notifications-details li .button-block button{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}

ul.notifications-details li .button-block button.changeAdminClass{
	min-width: 140px;
}

ul.notifications-details li .button-block .dropdown{
	display: inline-block;
	vertical-align: middle;
}


ul.notifications-details li .button-block button.approve-btn:hover{
	background-position: -532px -25px;
	    background-image: url('../images/bg_imgs/icons-sprite.png');
}

ul.notifications-details li .button-block button.reject-btn:hover{
	    background-image: url('../images/bg_imgs/icons-sprite.png');
	background-position: -566px -25px;
}

ul.notifications-details li:nth-child(3):before{
	/*background-position: -221px -3px;*/
	content: none;
}
.messages h4 {
    max-width: calc(100% - 200px);
}
.messages h4 span{
	font-weight: 400;
	color: #6d6d6d;
}

.messages h4 span a{
	color: #eb952e;
    font-family: 'robotobold';
}

button {
    padding: 4px 7px;
    color: #fff;
    background: #3ABCB2;
    border: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    display: block;
    min-width: 120px;
    text-transform: uppercase;
    font-weight: 500;
}
.button-block button:nth-child(2){
	margin: 6px 0;
}
.home-page .button-block button:hover, .button-block .open>.dropdown-toggle.btn-default:hover{
	background-color: rgb(40, 124, 117);
	color: #fff;
}
.button-block {
   
}
.abt-text{
	padding: 0 20px;
	margin: 20px 0;
	color: rgba(117,119,119,0.8);
	line-height: 24px;
}
.about-us-page .page-title h1:before{
	background-position: -127px 1px;
	height: 28px;
	margin-top: -14px;
}
.tc-page .page-title h1::before {
    background-position: -159px 0;
    height: 26px;
    margin-top: -13px;
}
.edit.filter-block a:after{
	display: none;
}
ol{
	padding: 8px 40px;
	line-height: 30px;
	font-weight: 600;
}
ol p {
    padding-left: 15px;
    color: #757777;
    font-weight: 400;
}
.settings-page .page-title h1::before {
    background-position: -97px 1px;
    height: 28px;
    margin-top: -14px;
}
.setting-content .page-title{
	border: none;
	padding: 20px;
}
.setting-content .page-title h1::before{
	content: none;
}
.setting-content .page-title h1{
	padding: 00px 0 10px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 18px;
	line-height: 1;
}
.setting-content form{
	padding: 0 20px;
}

.setting-content .PI-block .page-title{
	border-top: 10px solid #f5f5f5;
}

.setting-content .PI-block,
.setting-content .pwd-block{
    overflow: hidden;
}

.setting-content form .f2,
.setting-content form .f4{
	float: left;
	width: 50%;
	padding: 0 0 0 15px;
	position: relative;
}


.setting-content form .f1,
.setting-content form .f3{
	float: left;
	width: 50%;
	padding: 0 15px 0 0px;
	position: relative;
}


.setting-content form .f2 .errorMess,
.setting-content form .f4 .errorMess{
    position: absolute;
    /* top: 0; */
    font-size: 12px;
    left: 20px;
    bottom: 0px;
}

.setting-content form .errorMess{
    position: absolute;
    /* top: 0; */
    font-size: 12px;
    left: 0;
    bottom: 0px;
}

.setting-content label{
	font-size: 15px;
	font-weight: 500;
	line-height: 27px;
	color: #757777;
	min-width: 320px;
	display: inline-block;
}
.setting-content input{
	width: 100%;
	height: 40px;
	border: 1px solid #dadbdd;
	padding: 0 15px;
	margin: 0 0 20px;
	color: #aeafaf;
}
.setting-content button{
    font-size: 15px;
    font-weight: 600;
    line-height: 27px;
    margin: 25px 0 25px 320px;
    padding: 5px 18px;
}
.PI-block p{
	margin: 0 0 40px;
}
.main-content .PI-block .button-block.f3{
	text-align: left;
}

.main-content .PI-block .button-block.f3 button{
	margin: 0;
}

.common-table .page-title h1::before {
    background-position: -30px 1px;
    height:24px;
    margin-top:-12px;
}
.filter-block {
	border-left: 1px solid #979898;
	width: 65px;
}

.modal-header .filter-block {
	border-left:none;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #eb952e;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
    border-radius: 50%; 
    color: #fff;
    position: absolute;
    top: -15px;
    right: -15px;
}

.modal-header .filter-block a{
	margin: 0;
	display: inline-block !important;
	color: #fff;
}

.common-table .filter-block a::after {
    background-position: -270px -3px;
    content: "";
}

.common-table .filter-block.active a::after {
    background-position: -270px -28px;
}
.common-table th, .modal.pop-up th{
	border: none;
	text-align: left;
	font-size: 16px;
	color: #757a7a;
	padding: 15px 20px;
}

/*.common-table .inner-table td,
.common-table .inner-table th{
	text-align: center;
}*/

.common-table td{
	padding: 14px 20px;
	color: #979898;
}
.common-table td a{
	display:block;
	width: 23px;
	height: 23px;
	vertical-align: middle;
}
.common-table td .remove {
    background-position: -297px -54px;
    margin: 0 10px;
}
.common-table td .trophies {
    background-position: -298px -26px;
    margin-left: 25px;
}
.common-table td p {
	display: inline-block;
	vertical-align: middle;
	margin-left: 0;
	margin: 0 15px;
}
.common-table td p span{
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
}

.common-table td td p {
    margin: 0;
}
.common-table td .ride{
	background-position: -30px 1px;
	width: 30px;
	height: 30px;
	display: inline-block;
	padding: 0
}
.filter-form td, .filter-form tr{
	border: none;
}
.filter-form label{
	display: block;
    font-size: 14px;
    margin: 0 0 5px;
    font-weight: normal;
    font-family: 'robotomedium';
    color: #888;
}
.filter-form select, .filter-form input{
	 border: 1px solid #ddd;
    color: #666;
    height: 40px;
    padding: 0 15px;
    width: 100%;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
}

.form-row{
	padding: 0 0 15px;
}

.select-parent{
	position: relative;
}
.select-parent:after{
	content: "";
	margin-top: -2px;
    position: absolute;
    right: 32px;
    top: 50%;
	border: 5px solid #fff;
	border-top-color: #b2b2b2;
}

.filter-form td{
	padding: 10px 20px;
}
/*Modal popup css starts*/
.modal-overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}
.modal.pop-up{
	position: absolute;
	width: 790px;
	height: 325px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}
.modal.pop-up td{
	padding: 0;
}
.modal.pop-up td td{
	padding: 18px;
	border-left: none;
	border-right: none;
}
.modal.pop-up th{
	border-left: none;
	border-right: none;
}
.pop-up_img-box{
	vertical-align: top;
	width: 170px;
}
.pop-up_img-box td{
	border: none;
}
.pop-up_img-box td p {
    padding-bottom: 15px;
}
.modal.pop-up td td{
	padding: 22px 18px;
}
td.pop-up_img-box td {
    padding: 18px !important;
}
.popup-club-name tr p, .club-details tr td:first-child p{
	position: relative;
}
.popup-club-name td {
    padding-left: 50px !important;
}
.popup-club-name tr:nth-child(1) p:before, .club-details tr:nth-child(3n-2) td:first-child p:before{
	background: #8ad223;
}
.popup-club-name tr:nth-child(2) p:before, .club-details tr:nth-child(3n-1) td:first-child p:before{
	background: #05719e;
}
.popup-club-name tr:nth-child(3) p:before, .club-details tr:nth-child(3n) td:first-child p:before{
	background: #e00777;
}
.modal .filter-block a {
    display: block;
    height: 22px;
    width: 31px;
    margin: 0 auto;
    cursor: pointer;
}
.common-table table td:first-child p{
}
.hide{
	transform:scale(0,0); -mstransform:scale(0,0); -webkit-transform:scale(0,0); -moz-transform:scale(0,0);
	transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%;
	opacity: 0;
}
.form-hide{
	height: 0px;
	overflow: hidden;
	transform:scale(0,0); -mstransform:scale(0,0); -webkit-transform:scale(0,0); -moz-transform:scale(0,0);
	padding: 0;
	opacity: 0;
	visibility: hidden;
}
#club-listing .page-title h1:before{
	height: 25px;
	background-position: -64px 0px;
	margin-top: -12px;
}
#modal-overlay1 .filter-block a:after{
	background-position: -327px -3px;
}
.main *, #modal-overlay1{transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out;}
aside *, .main button{transition: all 0s; -webkit-transition: all 0s; -ms-transition: all 0s; -moz-transition: all 0s}

/*Modal popup css ends*/

/*Club-details page css starts*/

.club-details td .users {
    background-position: -359px -28px;
    margin: 0 15px;
    width: 23px;
    height: 23px;
}
.club-details td .gallery {
    background-position: -327px -27px;
    margin: 0 15px;
    width: 23px;
    height: 23px;
}

.club-details td .ride {
    background-position: -359px -1px;
    margin: 0 15px;
    width: 23px;
    height: 23px;
}
.club-details td td .ride {
    margin-left: 0;
    display: inline-block;
    vertical-align: middle;
}
.club-details tr td:first-child, .club-details tr td:nth-child(2){
}
.club-details tr td:nth-child(2){
}
.club-details tr td:first-child{
}
.page-title h4{
	font-size: 16px;
	line-height: 32px;    
	font-weight: 400;   
    padding: 10px 0 6px 45px;
    position: relative;
    padding-right: 25px
}
.club-details td .page-title .users{background-position: -389px -28px;
    margin: 0;
    width: 23px;
    height: 23px;
        background-image: url('../images/bg_imgs/icons-sprite.png');
        position: absolute;
    margin-top: 10px;
}
.club-details td, th {border: 1px solid #e7e7e7;}
.club-details th:last-child,
.club-details td:last-child {
	text-align: center;
}
.club-details td:last-child a{
	display: inline-block;
	float: none;
}
.club-details tr td{
	padding: 14px 20px;
}
.expandable .filter-block a{
	display: block;
	height: 23px;
	width: 23px;
	margin: 0 auto;
}
/*Club-details page css starts*/

.club-details tr tr td {
    background: #999;
    color: #fff;
    border: 1px dashed rgba(218, 218, 218, 0.8);
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: left;
}

.club-details tr tr td.centerElement{
	text-align: center;
}

.club-details tr td .inner-table p:before{
	content: none;
}
.club-details tr td .inner-table th:first-child p{
	margin: 0;
}
.club-details tr td .inner-table td:first-child p{
}
.club-details tr td .inner-table td:first-child p:before{
	content: "";
	background-color: #fff;
}
.common-table tr td .filter-block{
	border-color: #fff
}
div.filter-block a{
	background-image: none;
	display: block !important;
	margin: 0 auto;
	min-width: 30px;
	min-height: 22px;
	color: rgba(117,119,119,0.8);
}
.common-table tr td .filter-block a::after{
	background-position: -387px -3px;
}
.common-table tr td .page-title {
    background: #eb952e;
    color: #fff !important;
    text-align: left;
    border: none;
}
.members-listing tr td .page-title h1::before {
    background-position: -387px -29px;
}
td .inner-table th{
	background-color: #d8d8d8;
}

.club-details tr tr td input[type="checkbox"]{
	margin: 0 0 0 5px;
}


input.customCheckbox[type=checkbox] {
	position: absolute;
cursor: pointer;
	opacity: 0;
	
    height: 24px;
    width: 18px;
}
 
input.customCheckbox[type=checkbox] + label
{
background-image: url('../images/bg_imgs/icons-sprite.png');
height: 20px;
width: 20px;
display:inline-block;
padding: 0 0 0 0px;
background-position: -672px -62px;
background-repeat: no-repeat;
vertical-align: middle;
margin: 0 0 0 2px;
cursor: pointer;
}
input.customCheckbox[type=checkbox]:checked + label
{
height: 20px;
width: 20px;
display:inline-block;
padding: 0 0 0 0px;
background-position: -672px -35px;
background-repeat: no-repeat;
cursor: pointer;
margin: 0 0 0 2px;
}

.club-details td td .ride{
	background-position: -414px -1px;
}

.club-details td td .ride.doubleUser{
	background-position: -386px -28px;
}

.club-details td td .ride.singleUser{
	background-position: -476px -28px;
}

.club-listing .page-title h1::before, .all-club-details .page-title h1::before{
    background-position: -65px 0px;
}
.active.users {
    background-position: -415px -28px !important;
}
.active.ride {
    background-position: -444px -2px !important;
}
.rides-listing tr td .page-title h1::before {
    background-position: -413px -2px;
}
.rides-listing .inner-table td:last-child a{
	float: left;
	background-position: -389px -29px;
}
.modal.pop-up.ride-name{
	height: 370px
}
.modal.pop-up.ride-name th{
	background-color: #e00777;
	color: #fff;
}
.ride-name .page-title h1:before{
	background-position: -354px -3px;
}
.ride-name.modal.pop-up td{
	padding: 15px 20px;
	color: rgba(117, 119, 119, 0.8);
}
.modal.pop-up td{
	color: rgba(117, 119, 119, 0.8);
}
.ride-name.modal.pop-up td p {
    line-height: 24px;
}
.ride-name th p{
	display: inline-block; 
	height: 22px;
	margin-left: 35px;
}
.ride-name th p span{
    height: 22px;
    width: 25px;
    display: inline-block;
    float: left;
    margin-right: 8px
}
.ride-name th p span.time {
    background-position: -445px -29px;
}
.ride-name th p span.date {
    background-position: -474px -4px;
}
.ride-members-listing .page-title h1:before {
    background-position: -356px -30px;
}
.members-listing-expanded .page-title h1:before {
    background-position: -356px -4px;
}
#content, #content > div{
	height: 100%;
}
/*.wrapper > *{
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-ms-transition: none;
	-o-transition: none;
}*/

.modal-body td, .modal-body th {border: 1px solid #e7e7e7;}
.modal-body table.club-details tr th{background: #d8d8d8;border: 1px solid #d8d8d8;}
.modal-body table.club-details tr td{color:#4e5050;background:#fff!important;border: 1px solid #e7e7e7!important;}
.modal-body{}
.modal-body table tr td .page-title{background: #fff;}
.common-table tr td .modal-dialog .page-title{background:#fff;color:#4e5050!important;}
.club-details td .modal-dialog .page-title .users{background-position: -30px 0px;width: 30px; margin: 0;}
.common-table tr td .modal-dialog .filter-block a:after{background-position:-662px -3px; right: 4px;}
.common-table tr td .modal-dialog .filter-block{border-color:#979898;}
.modal-Description tr th{background-color: #6d6d6d;color: #fff;border:0;}
.club-details table.modal-Description tr td{background-color: #fff;color:#929393;border: 0;}
table.modal-Description th p span{ margin: 0 !important;}
table.modal-Description th p{ margin: 0 !important;}
.common-table td .modal-dialog .ride{position: absolute;margin-top: 10px;}
.modal-Description th p .time, .modal-Description th p .date{height: 22px;width: 25px;display: inline-block;margin-right: 8px;vertical-align: bottom;}
.modal-Description th p .time{background-image: url('../images/bg_imgs/icons-sprite.png');background-position: -445px -30px;}
.modal-Description th p .date{background-image: url('../images/bg_imgs/icons-sprite.png');background-position: -474px -4px;}
.detail-modal{height: 200px;overflow: auto;}
.modal-body table.club-details td.detail-modal-td{padding: 0;}
.modal-dialog .page-title {background: #fff;color: #4e5050!important; text-align: left;}
.modal-body table.club-details td.user-image{padding: 18px;width: 156px;}
td.user-image img{width: 120px;height: auto;} 
.club-details .detail-modal tr td:first-child {padding-left: 40px!important;}
.modal-dialog .filter-block a:after{background-position: -662px -3px; right: 4px;}
.button-block { text-align: right;}
.dropdown-menu{
	min-width: 100%!important;
	padding: 5px 3px!important;
}
.dropdown-menu li{
	display: block;
    float: left;
    margin: 0;
    padding-left: 10px!important;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu li:before{
	display: none!important;
}
.ride{margin-left: 75px}
.p-center {
    margin-left: 75px;
    margin-right: 15px;
}
.rideNo-center{margin-top: 5px}
#termAndConditionMessage{padding-left: 20px}
#aboutUsMessage{padding-left: 20px}
.modal-content{ text-align: left;}
.modal-content h3{ margin: 0 0 10px; font-size: 16px;}
.modal-content .btnBlock{ margin: 20px 0 0;}
#myModal .modal-body{}
span.ride-listing {
    background-image: url('../images/bg_imgs/icons-sprite.png');
    background-position: -412px 13px;
    width: 30px;
    height: 30px;
}
.page-title .ride{
	/*float: right;*/
    margin-top: 10px!important;
    background-image: url('../images/bg_imgs/icons-sprite.png')!important;
    background-position: -270px -55px!important;
}
.page-title .ride a{background-image: none!important}
.input-group-addon{

	min-height: 38px;
    display: inline-block;
    width: 42px;
    margin-top: -3px;
}
.main-content .PI-block .button-block button{
	margin: 32px 0 0;
	background: #ec952e;
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	font-size: 14px;
    font-family: 'robotomedium';
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
    border-radius: 4px; 
    font-weight: normal;
    border: 1px solid #ec952e;
}

.main-content .pwd-block .button-block button{
	margin: 32px 0 0;
	min-width: 50%;
	background: #ec952e;
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	font-size: 14px;
    font-family: 'robotomedium';
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
    border-radius: 4px; 
    font-weight: normal;
    border: 1px solid #ec952e;
}

.main-content .f4 .button-block{
	text-align: left;
}

.main-content .button-block button {
	background: none;
	display: inline-block;
	min-width: 100px;
	padding: 5px 10px;
	color: #fff;
	font-size: 14px;
    font-family: 'robotomedium';
    height: 40px;
    color: #6d6d6d;
    border: 1px solid #6d6d6d;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
    border-radius: 4px; 
}

.main-content .btnBlock button {
	background: none;
	display: inline-block;
	min-width: 100px;
	padding: 5px 10px;
	color: #fff;
	font-size: 14px;
    font-family: 'robotomedium';
    height: 40px;
    color: #6d6d6d;
    border: 1px solid #6d6d6d;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
    border-radius: 4px;
        display: inline-block;
    vertical-align: middle;
    margin: 0 5px; 
}

.main-content .button-block button.approve-btn{
	text-indent: -9999px;
	background: none;
	min-width: 0;
	color: #6d6d6d;
	background-image: url('../images/bg_imgs/icons-sprite.png');
	background-repeat: no-repeat;
	background-position: -532px 6px;
	width: 40px;
}

.main-content .button-block button.reject-btn{
	text-indent: -9999px;
	background: none;
	min-width: 0;
	color: #6d6d6d;
	background-image: url('../images/bg_imgs/icons-sprite.png');
	background-repeat: no-repeat;
	background-position: -566px 6px;
	width: 40px;
}

.main-content .button-block button span{
	transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
}

.main-content .button-block button:hover {
	background: #ec952e;
	border-color: #ec952e;
	color: #fff;
}
.input-group-addon{
	display: inline-block!important;
    width: 48px!important;
    height: 40px!important;
}
.filter-form td{
	background: #fff!important;
	color: #979898!important;
	border:none!important;}
.filter-input{width: 100%!important}
.filter-form select{background: #fff!important}
.open>.dropdown-menu {
    display: block;
    border-radius: 0;
    border: 1px solid #B7B7B7;
    padding: 0 !important;
}
ul.dropdown-menu > li {
    border: none;
    padding: 3px 0;
    border-bottom: 1px solid #CACACA;
    margin: 0;
}
.main-content .button-block button > .caret {
    margin-left: 7px;
}
.messages h4.approve-msg {
    padding: 0px 0 20px;
    text-align: center;
    max-width: 100%;
    color: #56A756;
    margin: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}

.messages-block *{
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}

.messages h4.approve-msg b{
	color: #eb952e;
}

.messages h4.approve-msg a{
	color: #56A756;
}
.messages h4.approve-msg > span{
	padding-left: 5px
}
.user-mgt-page td p.ride, .user-mgt-page td p.rideNo-center{
	float: none;
}

.common-table td p.spanSpace span{
	margin: 0 2px;
}

.common-table td.clubJointd p{
    margin: 0 5px;
}

.common-table td.clubJointd .ride{
	text-align: center;
	margin: 0;
}

.user-mgt-page .content > table th:nth-child(4),
.user-mgt-page .content > table >tbody>tr>td:nth-child(4){
	text-align: center !important;
}
.user-mgt-page-filtered td>.page-title h4{
	padding: 8px 0 6px 30px;
}
.user-mgt-page-filtered td>.page-title span.ride-listing {
    background-image: url('../images/bg_imgs/icons-sprite.png');
    background-position: -412px 1px;
    width: 24px;
    height: 24px;
        position: absolute;
        margin-top: 10px;
}
.user-mgt-page-filtered td>.page-title > *{
	display: inline-block;
}
.user-mgt-page-filtered td>.page-title{
	padding: 0 0 0 15px;
	display: block;
}
.user-mgt-page-filtered td>.page-title > h4{
	width: calc(100% - 65px);
	margin: 0
}

.user-mgt-page-filtered td>.page-title.multiOption > h4{
	width: calc(100% - 120px);
	margin: 0
}

.user-mgt-page-filtered td>.page-title > h4.no-rides{
	width: calc(100% - 95px);
	margin: 0;
	padding-left: 5px; 
}
.arrow-sign.text-right button{
    background-image: url('../images/bg_imgs/icons-sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    font-family: 'robotomedium';
    height: 40px;
    color: #6d6d6d;
    border: 1px solid #6d6d6d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-indent: -9999px;
    width: 40px;
    min-width: 0;
}

.arrow-sign.text-right button.prevBtn{
	background-position: -606px 5px;
}

.arrow-sign.text-right button.nextBtn{
	background-position: -633px 5px;
}

.arrow-sign.text-right button.prevBtn:hover{
	background-position: -606px -25px;
	background-color: #eb952e;
	border-color: #eb952e;
}

.arrow-sign.text-right button.nextBtn:hover{
	background-position: -633px -25px;
	background-color: #eb952e;
	border-color: #eb952e;
}

.no-Club .page-title{
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-ms-transition: none;
	-o-transition: none;
}

.customForm{
	padding: 20px 20px 20px 0;
}

.text-left{
}

.customForm table{
	width: 480px;
}

.club-details .customForm table tr td{
	position: relative;
}

.club-details .customForm table tr td img{
	    position: absolute;
    right: 30px;
    top: 25px;
    cursor: pointer;
}

.modal-header .page-title .ride.rideIcon{
	background-position: -413px -53px !important;
	margin: 0 !important;
}

.pointerCss{
	cursor: pointer;
}